@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

/*
 * General CSS
 */
* {
    font-family:         "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight:         100;
    font-size:           16px;
    line-height:         1.5rem;
}

html, body {
    font-family:         "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight:         100;
    font-size:           16px;
    line-height:         1.5rem;
    height:              100%;
}

h1 {
    font-weight: 900;
    font-size:   32px;
}

h2 {
    font-weight: 600;
    font-size:   24px;
}

h3 {
    font-weight: 500;
    font-size:   22px;
}

h4 {
    font-weight: 400;
    font-size:   20px;
}

h5 {
    font-weight: 300;
    font-size:   18px;
}

h6 {
    font-weight: 200;
    font-size:   16px;
}

em {
    font-weight: 500;
}

li {
    padding-top:    0.5rem;
    padding-bottom: 0.5rem;
    padding-left:   1rem;
}

button {
    --width: 18rem;
    width: var(--width);
    border: 1px solid black;
    padding: 0.5rem;
    background-color: white;
    transition: 0.25s ease-in-out;
}

button:hover,
button:focus {
    box-shadow: inset var(--width) 0 0 0 black;
    color: white;
}

/*
 * Routing
 */
#index_page, #projects_page, #professional_page {
    display: none;
}

input[type=radio] {
    display: none;
}

#index_tab:checked ~ main #index_page {
    display: flex;
}

#projects_tab:checked ~ main #projects_page {
    display: flex;
}

#professional_tab:checked ~ main #professional_page {
    display: flex;
}

/*
 * Navbar
 */
#index_label, #projects_label, #professional_label {
    text-decoration-thickness: 0px;
    transition: all 0.5s ease-in-out;
}

#index_tab:checked ~ nav #index_label {
    font-weight:               bold;
    text-decoration:           underline;
    text-decoration-color:     black;
    text-decoration-thickness: 2px;
}

#projects_tab:checked ~ nav #projects_label {
    font-weight:               bold;
    text-decoration:           underline;
    text-decoration-color:     black;
    text-decoration-thickness: 2px;
}

#professional_tab:checked ~ nav #professional_label {
    font-weight:               bold;
    text-decoration:           underline;
    text-decoration-color:     black;
    text-decoration-thickness: 2px;
}

nav {
    position: sticky;
    top:      0%;
    left:     0%;
    width:    100%;
    background-color: white;
}

nav ul {
    display:         flex;
    flex-direction:  row;
    padding:         1rem;
    gap:             2rem;
    justify-content: center;
}

/*
 * Header
 */
header {
    padding-left:  2rem;
    padding-right: 2rem;
}

/*
 * Sections
 */
section{
    border: 1px solid black;
}

main > section {
    border: none;
}

section, article {
    display:        flex;
    flex-direction: column;
    gap:            1rem;
    padding:        1rem;
}

article {
    border: 1px solid black;
    height: 20rem;
}

article > .project_content {
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
 * Main
 */
main {
    padding: 2rem;
}

/*
 * Footer
 */
footer {
    position:   sticky;
    top:        100%;
    left:       0%;
    width:      100%;
    padding:    1rem;
    text-align: center;
}

/*
 * Projects
 */
#projects_section {
    border: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    gap: 2rem;
    justify-content: center;
}

.button_list {
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
}